<div class="navbar">
<ul class="site-nav">
    <li class="site-nav-item" role="presentation"><a href="https://blog.jinshuju.net/">主页</a></li>
    <li class="site-nav-item" role="presentation"><a href="https://blog.jinshuju.net/tag/announcement/">公告</a></li>
    <li class="site-nav-item" role="presentation"><a href="https://blog.jinshuju.net/tag/updates">功能更新</a></li>
    <li class="site-nav-item" role="presentation"><a href="https://blog.jinshuju.net/tag/news">小金动态</a></li>
    <li class="site-nav-item" role="presentation"><a href="https://blog.jinshuju.net/tag/learn">小金课堂</a></li>
    <li class="site-nav-item" role="presentation"><a href="https://blog.jinshuju.net/tag/story">用户案例</a></li>
</ul>
</div>
